APP_PORT=80
DIVERA_ACCESS_KEY=your_access_key_here
PRINTER_NAME=Your Printer Name Here

# Document settings
COPIES_OPERATION_INFO=1
COPIES_HYDRANT_INFO=1

# Operation info settings
ENABLE_OPERATION_COORDINATES=true

# Map settings
HOME_COORDINATES=54.28628765978397, 10.168662688298166
ZOOM_LEVEL=17 #Max: 18